<div class="container">
  <h1 class="row">Idea Repository</h1>

  <div class="row" id="error-message">
    <h4>Fill in a title and body for your idea!</h4>
  </div>

  <div class="row">
    <h3>Add a new idea!</h3>
    <%= form_tag('/api/v1/ideas', remote: true) do %>
      <div class="form-group">
        <%= text_field_tag 'title', nil, placeholder: 'Title', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= text_area_tag 'body', nil, placeholder: 'Body', class: "form-control" %>
      </div>
        <%= button_tag "Save", type: 'button', class: 'btn btn-info', onclick: 'saveIdea();' %>
    <% end %>
  </div>

  <div class="row">
    <h3>Search your ideas</h3>
    <%= text_field_tag 'search', nil, placeholder: 'Enter search words here...',
      id: 'search-bar' %>
    <div class="dropdown">
      <button type="button" onclick="sortQuality()" class="btn btn-primary
        dropdown-toggle" data-toggle="dropdown">Sort Ideas
      <span class="caret"></span></button>
      <div id="quality-dropdown" class="dropdown-content">
        <a href="#" onclick="sortDesc">Sort by best ideas first</a>
        <a href="#" onclick="sortAsc">Sort by worst ideas first</a>
      </div>
    </div>
  </div>

  <div id="ideas" class="ideas row">
  </div>
</div>
